/* Hide scrollbars for Webkit (Chrome, Safari) */
body::-webkit-scrollbar {
    width: 0;
    height: 0;
}

/* Hide the vertical scrollbar for Webkit (Chrome, Safari) */
body::-webkit-scrollbar-thumb {
    background: transparent;
}

/* Hide the horizontal scrollbar for Webkit (Chrome, Safari) */
body::-webkit-scrollbar-thumb {
    background: transparent;
}

/* Hide the scrollbar track for Webkit (Chrome, Safari) */
body::-webkit-scrollbar-track {
    background: transparent;
}

body {
    margin: 0;
    padding: 0;
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(173, 216, 230, 1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 24px;
    background-color: lightblue;
    padding: 10px 20px;
    margin-bottom: 20px;
    animation: slideDown 1s ease forwards;
    opacity: 0;
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.iframe-container {
    width: 100%;
    max-width: 800px;
    height: 650px;
    overflow: hidden;
    position: relative;
    animation: fadeIn 2s ease forwards;
    opacity: 0;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.iframe-container iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.circle {
    position: absolute;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    animation: moveCircle 10s infinite;
}

@keyframes moveCircle {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(300px, 300px);
    }
    100% {
        transform: translate(0, 0);
    }
}

/* Updated cookies banner animation */
.cookies-consent {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    display: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    animation: fadeIn 1s ease forwards;
}

.cookies-content {
    display: inline-block;
}

.accept-btn {
    background-color: lightblue;
    color: #333;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    margin-left: 10px;
}

.logo-twanict-5976789844 img {
    width: 100px; /* Adjust the width as needed */
    height: auto;
}

/* Footer styles with Montserrat font in bold */
footer {
    text-align: center;
    background-color: lightblue;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800; /* Bold font */
}
